{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h4>Olá, sou o <strong>{{ .Site.Params.author }}</strong>.</h3>
        <h4>Sou formado em Agronomia e Ciências Rurais pela UFSC Curitibanos - SC e atualmente estou em doutoramento em Solos e Nutrição de Plantas na ESALQ/USP em Piracicaba - SP.</h4>
        <h4>Meu doutoramento tem ênfase na aplicação de geotecnologias para o mapeamento de solos no estado de São Paulo e Brasil. Por conta disso, participo do Grupo de Pesquisa <a href="https://esalqgeocis.wixsite.com/geocis"><strong>Geotecnologias em Ciência do Solo</strong></a>, coordenado pelo Prof. Dr. José A. M. Demattê.</h4>
        <h4>Realizei estágio de pesquisa no German Research Center for Geosciences (Remote Sensing section), Alemanha, entre janeiro e julho de 2019.</h4>
        <h4>Também sou pesquisador assistente no <a href="https://gppesalq.agr.br/"><strong>Grupo de Políticas Públicas</strong></a> da ESALQ/USP, realizando a modelagem e mapeamento de recursos naturais para avaliar e suportar políticas públicas no Brasil.</h4>
        <h4>Meus interesses de pesquisa estão relacionados à aplicação de geotecnologias e ciência de dados no estudo do solo, agricultura e ambiente. Tenho experiência em ciência do solo, pedometria, sensoriamento remoto, análise de dados espaciais e espectrais, e automação em linguagens de programação.</h4>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
